@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter' sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
    color: #ffffff;
}

body {
    /* background-image: url();
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover; */

    /* forma reduzida/ em uma unica declaração - shorthand/atalho */
    /* background: color image repeat position/size */
    background: url(../assets/img/bg-mobile.jpg) no-repeat top center/cover;
}

main {
    width: 360px;
    margin: 55px auto 0px;
    padding: 0 24px;
    /* border: 1px solid red; */
}

#perfil {
    text-align: center; /* (para cetralizar a foto) */
    padding: 24px;
}

#perfil img {
    height: 112px;
    border-radius: 50%;
    border: 3.5px solid white;
    /* display: block; (para cetralizar a foto)
    margin: auto; */
}

#perfil p {
    padding-top: 8px;
    font-weight: 500;
    line-height: 24px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

ul li a {
    font-weight: 500;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    transition: background 0.2s;
}

ul li a:hover {
    background: rgba(255, 255, 255, 0.05);
    border: 1.5px solid white;
}